* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.clear_float {
	CLEAR: both; HEIGHT: 1px
}
.float_left {
	FLOAT: left
}
.float_right {
	FLOAT: right
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.mainimg1 {
	CLEAR: both; BORDER-RIGHT: #c7d5dc 1px solid; BORDER-TOP: #c7d5dc 1px solid; BACKGROUND: #ffffff; MARGIN: 0px auto; BORDER-LEFT: #c7d5dc 1px solid; WIDTH: 900px; BORDER-BOTTOM: #c7d5dc 1px solid
}
.mainimg2 {
	CLEAR: both; BORDER-RIGHT: #c7d5dc 1px solid; BORDER-TOP: #c7d5dc 1px solid; BACKGROUND: #ffffff; MARGIN: 2px auto 0px; BORDER-LEFT: #c7d5dc 1px solid; WIDTH: 900px; BORDER-BOTTOM: #c7d5dc 1px solid
}
#header {
	MARGIN-BOTTOM: 5px
}
#top {
	PADDING-RIGHT: 15px; BORDER-TOP: #a9c9e2 2px solid; PADDING-LEFT: 3px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 25px
}
#top UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#top UL LI {
	DISPLAY: block; BACKGROUND: url(../img/arrow_01.gif) no-repeat 5px 11px; FLOAT: left; WIDTH: 63px; TEXT-INDENT: 12px; PADDING-TOP: 3px
}
#top A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
#top A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
#top A:hover {
	COLOR: #004a9c; TEXT-DECORATION: underline
}
.button {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; BACKGROUND: url(../img/t_submit.gif); BORDER-LEFT: #e4e4e4 1px solid;  CURSOR: pointer; COLOR: #666666; LINE-HEIGHT: 15px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 17px
}
.header_textbox {
	BORDER-RIGHT: #b0d7ff 1px solid; BORDER-TOP: #b0d7ff 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 3px; BACKGROUND: #f2f6fb; FLOAT: right; BORDER-LEFT: #b0d7ff 1px solid; WIDTH: 220px; BORDER-BOTTOM: #b0d7ff 1px solid; HEIGHT: 58px
}
.header_textbox LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 4px; OVERFLOW: hidden; LINE-HEIGHT: 18px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; POSITION: static; HEIGHT: 13px
}
.header_textbox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.f_blue {
	COLOR: #0000ff
}
A.f_blue:link {
	COLOR: #0000ff
}
A.f_blue:visited {
	COLOR: #0000ff
}
.f_brown {
	COLOR: #990000
}
A.f_brown:link {
	COLOR: #990000
}
A.f_brown:visited {
	COLOR: #990000
}
.f_dgray {
	COLOR: #666666
}
A.f_dgray:link {
	COLOR: #666666
}
A.f_dgray:visited {
	COLOR: #666666
}
.f_gray {
	COLOR: #4f544d
}
A.f_gray:link {
	COLOR: #4f544d
}
A.f_gray:visited {
	COLOR: #4f544d
}
.f_green {
	COLOR: #008000
}
A.f_green:link {
	COLOR: #008000
}
A.f_green:visited {
	COLOR: #008000
}
.f_red {
	COLOR: #ff0000
}
A.f_red:link {
	COLOR: #ff0000
}
A.f_red:visited {
	COLOR: #ff0000
}
.nav_sub A:hover {
	COLOR: #ff0000
}
.header_nav {
	MARGIN: auto
}
.global_nav {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/nav_bg_1.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; HEIGHT: 55px
}
.nav_left {
	MARGIN-TOP: -3px; BACKGROUND: url(../img/nav_lr.gif) no-repeat 0px 0px; FLOAT: left; WIDTH: 2px; HEIGHT: 28px
}
.nav_right {
	MARGIN-TOP: -3px; BACKGROUND: url(../img/nav_lr.gif) no-repeat -1px 0px; FLOAT: right; WIDTH: 2px; HEIGHT: 28px
}
.msl {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; HEIGHT: 20px; TEXT-ALIGN: left;
}
.f_gray {
	COLOR: #4f544d
}
A.f_gray:link {
	COLOR: #4f544d
}
A.f_gray:visited {
	COLOR: #4f544d
}
.nav_current {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../img/nav_button.gif) no-repeat 0px -58px; FLOAT: left; WIDTH: 92px; PADDING-TOP: 8px; HEIGHT: 21px; TEXT-DECORATION: none
}
A.f_nav:link {
	DISPLAY: block; COLOR: #333333; HEIGHT: 14px; TEXT-DECORATION: none
}
A.f_nav:visited {
	COLOR: #333333
}
A.f_nav:hover {
	DISPLAY: block; COLOR: #000000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.nav_link {
	FONT-SIZE: 13px; BACKGROUND: url(../img/nav_button.gif) no-repeat; FLOAT: left; WIDTH: 92px; CURSOR: pointer; PADDING-TOP: 8px; HEIGHT: 21px; TEXT-DECORATION: none
}
.nav_sub {
	LINE-HEIGHT: 21px; HEIGHT: 21px; TEXT-ALIGN: left
}
.nav_sub A {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav_sub LI {
	PADDING-RIGHT: 12px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 7px; LIST-STYLE-TYPE: none; HEIGHT: 16px
}
.global_nav .nav_sjgg {
	MARGIN-TOP: 3px; PADDING-LEFT: 10px; FLOAT: left; HEIGHT: 20px
}
.hidden {
	DISPLAY: none
}
.undis {
	DISPLAY: none
}
.sub_box {
	FLOAT: right; WIDTH: 700px; PADDING-TOP: 2px; HEIGHT: 26px; TEXT-ALIGN: left
}
.f_green {
	COLOR: #008000
}
A.f_green:link {
	COLOR: #008000
}
A.f_green:visited {
	COLOR: #008000
}
.nav_main {
	WIDTH: 755px; HEIGHT: 29px
}
.nav_main LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.nav_main A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
.nav_main A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.nav_main A:hover {
	COLOR: #bc2931
}
.other_1 {
	PADDING-TOP: 4px
}
.other_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.other_3 {
	MARGIN: 5px 0px 0px 17px
}
table{
	text-align: left;
}