BODY {
	FONT: 12px "Verdana"; COLOR: #333333
}
P {
	FONT: 12px "Verdana"; COLOR: #333333
}
TD {
	FONT: 12px "Verdana"; COLOR: #333333
}
INPUT {
	FONT: 12px "Verdana"; COLOR: #333333
}
OPTION {
	FONT: 12px "Verdana"; COLOR: #333333
}
TEXTAREA {
	FONT: 12px "Verdana"; COLOR: #333333
}
SELECT {
	FONT: 12px "Verdana"; COLOR: #333333
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND: #ffffff; TEXT-ALIGN: center
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
TABLE {
	TEXT-ALIGN: left
}
.full {
	MARGIN: 0px 10px; TEXT-ALIGN: left
}
.main {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
.m760 {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
.m950 {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
.m950 {
	WIDTH: 950px
}
.clear {
	CLEAR: both; BORDER-TOP: transparent 0px solid
}
.debug {
	BORDER-RIGHT: #ff00ff 1px dashed; BORDER-TOP: #ff00ff 1px dashed; BORDER-LEFT: #ff00ff 1px dashed; BORDER-BOTTOM: #ff00ff 1px dashed
}
.font14 {
	FONT-SIZE: 14px
}
.number {
	FONT-FAMILY: Arial
}
.b {
	FONT-WEIGHT: bold
}
.s {
	FONT-FAMILY: "宋体"; TEXT-DECORATION: line-through
}
.ime {
	IME-MODE: disabled
}
.desc {
	WORD-BREAK: break-all; LINE-HEIGHT: 150%; WORD-WRAP: break-word
}
.break {
	WORD-BREAK: break-all; LINE-HEIGHT: 140%; WORD-WRAP: break-word
}
.lineCenter {
	TEXT-ALIGN: center
}
.lineLeft {
	TEXT-ALIGN: left
}
.lineRight {
	TEXT-ALIGN: right
}
.relative {
	POSITION: relative
}
.absolute {
	POSITION: absolute
}
.overflow {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.help {
	CURSOR: help
}
.over {
	CURSOR: pointer
}
A:link {
	COLOR: #1835d1; TEXT-DECORATION: none
}
A:visited {
	COLOR: #1835d1; TEXT-DECORATION: none
}
.fontRed {
	COLOR: #ff0000
}
A.fontRed:link {
	COLOR: #ff0000
}
A.fontRed:visited {
	COLOR: #ff0000
}
.fontOrange {
	COLOR: #ff4e00
}
A.fontOrange:link {
	COLOR: #ff4e00
}
A.fontOrange:visited {
	COLOR: #ff4e00
}
.fontGray {
	COLOR: #808080
}
A.fontGray:link {
	COLOR: #808080
}
A.fontGray:visited {
	COLOR: #808080
}
.fontBlack {
	COLOR: #333333
}
A.fontBlack:link {
	COLOR: #333333
}
A.fontBlack:visited {
	COLOR: #333333
}
A:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A.fontGray:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A.fontGray:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A.fontBlack:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A.fontBlack:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
A.linkLine:link {
	TEXT-DECORATION: underline
}
A.linkLine:visited {
	TEXT-DECORATION: underline
}
A.linkLine:active {
	TEXT-DECORATION: underline
}
A.linkLine:hover {
	TEXT-DECORATION: underline
}
A.linkFloat:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.inputMain {
	BORDER-RIGHT: #718da6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #718da6 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #718da6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #718da6 1px solid; HEIGHT: 17px
}
#headNote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fffff7; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #eddcc8 1px solid
}
#headV3 {
	BACKGROUND: url(img/headBg.gif); MARGIN-BOTTOM: 10px; OVERFLOW: hidden; FONT-FAMILY: Verdana; HEIGHT: 125px
}
#headV3 A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
#headV3 A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
#footV3 A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
#footV3 A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
#headV3 A:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#headV3 A:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#footV3 A:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#footV3 A:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#headV3 A.linkBlue:link {
	COLOR: #014ccc; TEXT-DECORATION: none
}
#headV3 A.linkBlue:visited {
	COLOR: #014ccc; TEXT-DECORATION: none
}
#footV3 A.linkBlue:link {
	COLOR: #014ccc; TEXT-DECORATION: none
}
#footV3 A.linkBlue:visited {
	COLOR: #014ccc; TEXT-DECORATION: none
}
#headV3 A.linkBlue:active {
	COLOR: #014ccc; TEXT-DECORATION: underline
}
#headV3 A.linkBlue:hover {
	COLOR: #014ccc; TEXT-DECORATION: underline
}
#footV3 A.linkBlue:active {
	COLOR: #014ccc; TEXT-DECORATION: underline
}
#footV3 A.linkBlue:hover {
	COLOR: #014ccc; TEXT-DECORATION: underline
}
#headV3 #headLogo {
	Z-INDEX: 2; LEFT: 0px; TOP: 0px
}
#headV3 #headLogoBg {
	Z-INDEX: 2; LEFT: 0px; TOP: 0px
}
#headV3 #headNavi {
	Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(img/logoNewYear2008B.gif) no-repeat left top; OVERFLOW: hidden; WIDTH: 660px; TOP: 0px; HEIGHT: 66px; TEXT-ALIGN: right
}
#headV3 #headItem {
	MARGIN-TOP: 6px; OVERFLOW: hidden; HEIGHT: 26px
}
#headV3 #headBtn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#headV3 #headMenu {
	Z-INDEX: 3; RIGHT: 0px; BACKGROUND: url(img/menuBg.gif) repeat-x 50% bottom; WIDTH: 520px; BOTTOM: 0px; HEIGHT: 29px
}
#headV3 #menuList {
	BACKGROUND: url(img/menuSide.gif) no-repeat right bottom; OVERFLOW: hidden; WIDTH: 520px; HEIGHT: 29px
}
#headV3 #menuList LI {
	BACKGROUND: url(img/menuSplit.gif) no-repeat left bottom; FLOAT: left; HEIGHT: 29px
}
#headV3 #menuList LI SPAN {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#headV3 #menuList LI A:hover {
	DISPLAY: block; BACKGROUND: url(img/menuBgOver.gif) repeat-x 50% bottom; FLOAT: left; COLOR: #ff5500; HEIGHT: 29px; TEXT-DECORATION: none
}
#headV3 #menuList #menuHome {
	PADDING-LEFT: 10px; BACKGROUND: url(img/menuLeft.gif) no-repeat left bottom; HEIGHT: 29px
}
#headV3 #menuList .menuHere {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(img/menuHere.gif) no-repeat left bottom
}
#headV3 #menuList .menuHere A {
	DISPLAY: block; BACKGROUND: url(img/menuHereSide.gif) no-repeat right bottom; FLOAT: left; COLOR: #fff; HEIGHT: 29px
}
#headV3 #menuList .menuHere A:hover {
	BACKGROUND: url(img/menuHere.gif) no-repeat left bottom; COLOR: #fff
}
#headV3 #headFind {
	BACKGROUND: url(img/headFindBg.gif) repeat-x; LEFT: 0px; OVERFLOW: hidden; WIDTH: 950px; TOP: 65px; HEIGHT: 60px
}
#headV3 #headPush {
	BACKGROUND: url(img/headFindLeft.gif) no-repeat left top; LEFT: 0px; OVERFLOW: hidden; WIDTH: 220px; TOP: 0px; HEIGHT: 60px
}
#headV3 #headForm {
	Z-INDEX: 4; RIGHT: 90px; OVERFLOW: hidden; WIDTH: 640px; TOP: 0px; HEIGHT: 60px
}
#headV3 #headForm .findInto {
	BORDER-RIGHT: #4194cf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #4194cf 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #4194cf 1px solid; WIDTH: 240px; COLOR: #808080; PADDING-TOP: 4px; BORDER-BOTTOM: #4194cf 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 16px
}
#headV3 #headForm .findGoto {
	BACKGROUND: url(img/headFind.gif); WIDTH: 47px; CURSOR: hand; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
#headV3 #headForm .divSelect {
	BORDER-RIGHT: #4194cf 1px solid; BORDER-TOP: #4194cf 1px solid; BORDER-LEFT: #4194cf 1px solid; BORDER-BOTTOM: #4194cf 1px solid; TOP: 11px; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
#headV3 #headForm .divSelectHide {
	MARGIN-TOP: 2px; LEFT: 0px; MARGIN-LEFT: 2px; TOP: 0px; HEIGHT: 16px
}
#headV3 #headForm .divSelectHide SELECT {
	MARGIN: -2px
}
#headV3 #headHelp {
	PADDING-RIGHT: 20px; RIGHT: 0px; BACKGROUND: url(img/headFindSide.gif) no-repeat right top; OVERFLOW: hidden; LINE-HEIGHT: 150%; PADDING-TOP: 10px; TOP: 0px; HEIGHT: 60px
}
#headV3 #headForm #headLink {
	PADDING-LEFT: 10px; LEFT: 0px; OVERFLOW: hidden; WIDTH: 620px; WHITE-SPACE: nowrap; TOP: 39px; TEXT-OVERFLOW: ellipsis
}
#headV3 #headForm #headLink A {
	COLOR: #fff
}
#footV3 {
	BORDER-TOP: #e0dfe4 1px solid; MARGIN-TOP: 20px; FONT-FAMILY: Verdana
}
#footV3 #footLink {
	MARGIN: 18px auto 11px; WIDTH: 560px
}
#footV3 #footLink LI {
	FLOAT: left; MARGIN-RIGHT: 20px
}
#footV3 DIV {
	MARGIN-BOTTOM: 3px; TEXT-ALIGN: center
}
#footV3 #wangjing {
	PADDING-LEFT: 280px; FLOAT: left; WIDTH: 70px; HEIGHT: 50px
}
#footV3 #shengming {
	FLOAT: left; WIDTH: 350px; LINE-HEIGHT: 200%; HEIGHT: 50px
}
#headV3A {
	MARGIN: 0px auto 10px; OVERFLOW: hidden; WIDTH: 950px; HEIGHT: 100px
}
#headV3A #headV3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3A #headNavi {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3A {
	BACKGROUND: url(img/headV3ABg.gif)
}
#headV3A #headV3 #headItem {
	PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#headV3B {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden; HEIGHT: 60px
}
#headV3B #headV3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3B #headNavi {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3B #headV3 #headMenu {
	Z-INDEX: 4; RIGHT: 180px; BACKGROUND: #f2f2f2; OVERFLOW: hidden; WIDTH: 420px; TOP: 34px; HEIGHT: 19px
}
#headV3B #headV3 #menuList {
	BACKGROUND: url(img/menuV3BSide.gif) no-repeat right bottom; OVERFLOW: hidden; WIDTH: 420px; HEIGHT: 19px
}
#headV3B #headV3 #menuList LI {
	BACKGROUND: url(img/menuV3BSplit.gif) no-repeat left bottom; FLOAT: left; HEIGHT: 19px
}
#headV3B #headV3 #menuList LI SPAN {
	PADDING-RIGHT: 10px; MARGIN-TOP: 4px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#headV3B #headV3 #menuList LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff5500; HEIGHT: 19px; TEXT-DECORATION: none
}
#headV3B #headV3 #menuList #menuHome {
	PADDING-LEFT: 10px; BACKGROUND: url(img/menuV3BLeft.gif) no-repeat left bottom; HEIGHT: 19px
}
#headV3B #headV3BFind {
	Z-INDEX: 3; RIGHT: 0px; TOP: 32px
}
#headV3B .findInto {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 120px; COLOR: #808080; PADDING-TOP: 3px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 15px
}
#headV3B .findGoto {
	BACKGROUND: url(img/headV3BFind.gif); WIDTH: 39px; CURSOR: hand; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BORDER-BOTTOM-STYLE: none
}
#headV3C {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden; HEIGHT: 60px
}
#headV3C #headV3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3C #headNavi {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3C #headV3 #headItem {
	TEXT-ALIGN: right
}
#headV3D {
	MARGIN: 0px auto 10px; OVERFLOW: hidden; WIDTH: 760px; HEIGHT: 80px
}
#headV3D #headV3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3D #headNavi {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3D #headV3 #headNavi {
	WIDTH: 470px; HEIGHT: 80px
}
#headV3D #headV3 #headBtn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#headV3D #headV3 #headMenu {
	Z-INDEX: 4; RIGHT: 0px; BACKGROUND: #f2f2f2; OVERFLOW: hidden; WIDTH: 420px; TOP: 60px; HEIGHT: 19px
}
#headV3D #headV3 #menuList {
	BACKGROUND: url(img/menuV3BSide.gif) no-repeat right bottom; OVERFLOW: hidden; WIDTH: 420px; HEIGHT: 19px
}
#headV3D #headV3 #menuList LI {
	BACKGROUND: url(img/menuV3BSplit.gif) no-repeat left bottom; FLOAT: left; HEIGHT: 19px
}
#headV3D #headV3 #menuList LI SPAN {
	PADDING-RIGHT: 10px; MARGIN-TOP: 4px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#headV3D #headV3 #menuList LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff5500; HEIGHT: 19px; TEXT-DECORATION: none
}
#headV3D #headV3 #menuList #menuHome {
	PADDING-LEFT: 10px; BACKGROUND: url(img/menuV3BLeft.gif) no-repeat left bottom; HEIGHT: 19px
}
#headV3D #headV3DFind {
	Z-INDEX: 3; RIGHT: 0px; TOP: 32px
}
#headV3D .findInto {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 120px; COLOR: #808080; PADDING-TOP: 3px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 15px
}
#headV3D .findGoto {
	BACKGROUND: url(img/headV3BFind.gif); WIDTH: 39px; CURSOR: hand; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BORDER-BOTTOM-STYLE: none
}
#result {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BACKGROUND: #fff; LEFT: 250px; OVERFLOW: hidden; BORDER-LEFT: #808080 1px solid; WIDTH: 244px; COLOR: gray; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; TOP: -38px
}
#result A {
	DISPLAY: block; CURSOR: hand; COLOR: #333; BORDER-BOTTOM: #baddfd 1px dotted; POSITION: relative; HEIGHT: 20px; TEXT-DECORATION: none
}
#result A:hover {
	BACKGROUND: #e5f5ff; COLOR: #ff4e00; TEXT-DECORATION: none
}
#result A.activeLink {
	BACKGROUND: #e5f5ff; COLOR: #ff4e00; TEXT-DECORATION: none
}
#result .resultName {
	LEFT: 10px; OVERFLOW: hidden; WIDTH: 120px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 5px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
#result .resultCount {
	RIGHT: 10px; OVERFLOW: hidden; WIDTH: 100px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 5px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: right
}
#headV3 OPTGROUP.optionShow {
	BACKGROUND: #e4f5fb
}
#headV3My A:link {
	COLOR: #1835d1; TEXT-DECORATION: underline
}
#headV3My A:visited {
	COLOR: #1835d1; TEXT-DECORATION: underline
}
#headV3My A:active {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#headV3My A:hover {
	COLOR: #ff4e00; TEXT-DECORATION: underline
}
#headV3My {
	OVERFLOW: hidden; HEIGHT: 60px
}
#headV3My #headV3 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3My #headNavi {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#headV3My #headV3 #headLogo {
	LEFT: 10px
}
#headMyUser {
	LEFT: 320px; TOP: 10px
}
#headMyItem {
	RIGHT: 10px; TOP: 10px
}
#headMyFind {
	RIGHT: 10px; TOP: 30px
}
#headMyFind .findInto {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 120px; COLOR: #808080; PADDING-TOP: 3px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 15px
}
